# DATA DEFINITIONS ------------------------------------------------------------

K_FILTER: 1000 # SHOULDDO Number of features after filtering per data modality

## Model and Training --------------------------------------------------------
# ----------------------------------------------------------------------------
TRAIN_TYPE: "train" # SHOULDDO train or tune are possible
MODEL_TYPE: "varix" #SHOULDO which autoencoder to use: vanillix, varix, stackix, ontix or x-modalix
BETA: 0.1 # OPTIONAL float that adds a weight to the KL divergence or MMD loss of variational autoencoder

LATENT_DIM_FIXED: 2 # SHOULDDO number of neurons in latent dimenion (all integer values are possible)
BATCH_SIZE: 512 # SHOULDDO (all integer values are possible, depending on your hardware and data size)
EPOCHS: 100 # SHOULDDO (all integer values are possible)
LR_FIXED: 0.0005 # SHOULDDO Learning Rate for training (all float values are possible)
VAE_LOSS: "KL" # SHOULDDO  loss function for VAE to fit standard normal distribution (KL or MMD)
RECONSTR_LOSS: "MSE" # SHOULDDO (BCE or MSE)

PREDICT_SPLIT: "all" # SHOULDDO data split the trainied model uses to generate latent space (all, train, test, valid are possible) default is all

# # Ontix specific
NON_ONT_LAYER: 1 # OPTIONAL Specify additional layer for ontix if should LATENT_DIM_FIXED < Ontology Dimension
FILE_ONT_LVL1: "full_ont_lvl1_reactome.txt" # OPTIONAL Mandotory for ontix; LVL1 specifies relationship of features and first ontology level in sparse decoder
FILE_ONT_LVL2: "full_ont_lvl2_reactome.txt" # OPTIONAL for ontix; LVL2 specifies relationship of first ontology level and a second level (dim(lvl1) > dim(lvl2)) in sparse decoder


# # X-modalix specific
TRANSLATE: "KLIMBIM_to_ANDERERKLIMBIM" # TODO, TRAIN_TYPE=translate, when <FROMDATA>_to_<TODATA>
GAMMA: 5 # OPTIONAL weighs the latent space classifier loss for th translation case
DELTA_PAIR: 5 # OPTIONAL weigths for pairing loss term (xmodalix)
DELTA_CLASS: 5 # OPTIONAL weigths for class/supervision loss term (xmodalix)
PRETRAIN_TARGET_MODALITY: null #SHOULDDO For `x-modalix` VAE's can be pretrained before latent spaces will be aligned. Options are pretrain_image or gamma_anneal or null to switch off pretraining.
ANNEAL_PRETRAINING: False #OPTIONAL (True or False) indicates if beta annealing should be used in pretraining target modality or while using gamma annealing in pretraining
PRETRAIN_EPOCHS: 100 #OPTIONAL (all integer values are possible) number of epochs of gamma_anneal or pretrain_image (additional to EPOCHS) (set 0 if not wanted)
CLASS_PARAM: "CANCER_TYPE_ACRONYM" #OPTIONAL Annotation parameter (str) to which the latent space is aligned for the MODEL_TYPE "x-modalix" and is a column as defined in the Annotation DATA_TYPE. Set to null if not wanted.

# OPTUNA TUNING VARS-----------------------------------------------------------
# -----------------------------------------------------------------------------
LAYERS_LOWER_LIMIT: 2 # OPTIONAL  minumum number of layers for hyperparamter tuning(all integer values are possible)
LAYERS_UPPER_LIMIT: 5 # OPTIONAL maximum number of layers for hyperparamter tuning(all integer values are possible)
LR_LOWER_LIMIT: 0.0001 # OPTIONAL minimum learning rate for hyperparamter tuning(all float values are possible)
LR_UPPER_LIMIT: 0.05 # OPTIONAL maximum learning rate for hyperparamter tuning(all float values are possible)
DROPOUT_LOWER_LIMIT: 0.00 # OPTIONAL minimum dropout rate for hyperparamter tuning(all float values are possible)
DROPOUT_UPPER_LIMIT: 0.50 # OPTIONAL maximum dropout rate for hyperparamter tuning(all float values are possible)
OPTUNA_TRIALS: 40 # OPTIONAL number of trials for hyperparamter tuning(all integer values are possible)


# EVALUATION and VISUALIZATION ------------------------------------------------
# -----------------------------------------------------------------------------
DIM_RED_METH: "UMAP" # OPTIPNAL PCA or UMAP or TSNE
CLUSTER_ALG: "KMeans" # OPTIONAL KMeans or HDBScan
CLUSTER_N: 32 # OPTIONAL Number of clusters for KMeans
MIN_CLUSTER_N: 20 # OPTIONAL Minimal number of samples per cluster as crucial parameter for HDBSCAN
CLINIC_PARAM: # TODO needs to be a column name of the ANNOTATION data
  - "CANCER_TYPE_ACRONYM" # Feature to be visualized on latent space plot and used for learning alling of downstream machine learning task
  - "TMB_NONSYNONYMOUS"
ML_TYPE: "Auto-detect" # TODO For the given CLINIC_PARAM either regression or classification ML tasks will be performed. If auto-detect, non-string parameters will be assumed to be regression tasks.
#   CANCER_TYPE: "classification" # OPTIONAL classification or regression
#   TMB_NONSYNONYMOUS: "regression" # OPTIONAL classification or regression
ML_ALG: # OPTIONAL which machine learning algorithms should be used for evaluation, Linear, RF, SVM are possible
  - Linear
  - RF
  - SVM
ML_SPLIT: "use-split" # OPTIONAL "use-split" or "CV-on-all-data"
ML_TASKS: # OPTIONAL which dimension reduction methods should be used for the ml task, Latent, UMAP, PCA, RandomFeature are possible
  - Latent
  - UMAP
  - PCA
  - RandomFeature

LOGLEVEL: "INFO" # OPTIONAL (DEBUG, INFO, WARNING, ERROR)

# Data Specification ---------------------------------------------------------
# ----------------------------------------------------------------------------
ROOT_RAW: "data/raw" # This variable specifies the root directory path for raw data.
ROOT_IMAGE: "data/fakedata/tcga_fake" # This variable specifies the root directory path for raw images data.
DELIM: "\t" # This variable specifies the delimiter character used in input and output data files. Input files need to have file extension csv, tsv or txt.
SPLIT: [0.7, 0.1, 0.2] # OPTIONAL Train, Validate, Test or "pre-computed"
SPLIT_FILE: "data/processed/sample_split.parquet"  # This variable specifies the path to the file containing the generated (use always default path) or pre-computed data split. If you want to give a specific train/test/valid split then you need to provide a file with the sample ID and a column that indicates to which split the sample belongs (train, test, valid). To activate pre-computed split, you must set config option SPLIT to "pre-computed".

FORM_SUFFIX: "_formatted.parquet" # This variable specifies a suffix for the formatted data files when running join_format_tcga or format_singlecell

# Single-Cell Specification --------------------------------------------------
# ----------------------------------------------------------------------------

MIN_GENE: 0.06 # Controls filtering of sparse samples (cells) with less then MIN_GENE percent expressed genes of total gene using scanpy filter_cells  
MIN_PERC_CELLS: 0.1 # Keep only genes in single-cell data which are present in at least x fraction of all cells using filter scanpy filter_genes. Filtering is done after sample filtering.
K_FILTER_SC: 6000 # After filtering for sparse samples and sparse genes the K_FILTER_SC genes with the highes variables are selected using scanpy highly_variable_genes. Should be higher than K_FILTER in the run config.



# Model and Training Specification -------------------------------------------
# ----------------------------------------------------------------------------
START_FROM_LAST_CHECKPOINT: false # This variable specifies whether to start training from the last checkpoint. Useful when machine or server crashed during training. Recommended to restart training with make model_only.
WEIGHT_DECAY: 0.001 # This variables specifies the hyperparameter weight decay for training with solver (AdamW).
DROP_P: 0.1  #  Probability of drop out in drop out layer in all autoencoder architectures with drop out. 
ANNEAL: "logistic-mid" # This variables controls the beta-annealing (VAE-loss) of the training of all variational autoencoders. Options are logistic-early, logistic-mid, logistic-late, 3phase-linear,3phase-log or no-annealing
ANNEAL_PRETRAINING: False #OPTIONAL (True or False) indicates if beta annealing should be used in pretraining target modality or while using gamma annealing in pretraining
PRUN_PATIENCE: 0.05 # This variables controls the pruning of runs during hyperparameter tuning with optuna. "0" is full pruning (no patience) and stops trials early. "1" leads to no pruning at all since all epochs are considered. Pruning is disabled when beta-annealing is active.
WEIGHT_DECAY_LOWER_LIMIT: 0.00001 # OPTIONAL lower limit for weight decay in hyperparameter tuning with optuna
WEIGHT_DECAY_UPPER_LIMIT: 0.1 # OPTIONAL upper limit for weight decay in hyperparameter tuning with optuna
ENCODING_FACTOR_LOWER_LIMIT: 1 # OPTIONAL lower limit for encoding factor in hyperparameter tuning with optuna
ENCODING_FACTOR_UPPER_LIMIT: 64 # OPTIONAL upper limit for encoding factor in hyperparameter tuning with optuna
TUNE_N_FILTERS: True # OPTIONAL (True or False) indicates if the number of filters should be tuned in hyperparameter tuning with optuna 
LOSS_REDUCTION: "sum" #OPTIONAL (sum or mean) indicates if the loss should be summed or averaged over all features in the loss function

FIX_RANDOMNESS: "random" # "random" for no fixing, "all" fix all randomness, "data_split" fix train/test/valid split, "training" fix weight initialization and randomness in training; not available for tuning with optuna
GLOBAL_SEED: 42 # Seed used to fix randomness.

KEEP_NOT_ONT: false # If feature is not part of the provided ontology, a new ontology for those features will created and features will not be dropped

NORMALIZE_RECONS_LOSS_XMODALIX: true # Should the reconstruction loss terms for each data modality which are translated by x-modalix be normalized by their respective feature size? 

CHECKPT_SAVE: false # Should intermediate models in training be saved in models folder at checkpoint epochs? Not available for x-modalix
RECON_SAVE: false # Should the reconstructed values of input features (x) be saved under reports?

#  visualize control --------------------------------------------------------
# ---------------------------------------------------------------------------
CHECKPT_PLOT: false # Should the latent space be plotted at checkpoint epochs? Not available for x-modalix
PLOT_INPUT2D: false # Should a direct embedding of inputlayer performed (using DIM_RED_METH) and be plotted for comparison to autoencoder?
PLOT_WEIGHTS: false # Should the initial and trained weights be plotted as heatmaps
PLOT_CLUSTLATENT: false # Should latent space be clustered and be visualized
PLOT_NUMERIC: false # Should numeric parameters in CLIN_PARAM be plotted as continuous (true) or as categories/percentiles (false, default)

#  ml_task control --------------------------------------------------------
# ---------------------------------------------------------------------------
CV: 5 # This variable specifies the the number of cross-validation rounds (only if ML_SPLIT: "CV-on-all-data")

# Test Synth Signal Specification -------------------------------------------
# ---------------------------------------------------------------------------
APPLY_SIGNAL: false # For testing a synthetic signal can be applied to the provided features and samples (see below). Synthetic signal is defined as setting the value of the features to 90% of the maximum feature value. 
SAMPLE_SIGNAL: "data/raw/female_scCells.txt" # Path to file file with list of samples to which signal should be applied. One row per sample. No header.
FEATURE_SIGNAL: "data/raw/chrX_ensemblID.txt" # Path to file file with list of features to which signal should be applied. One row per feature. No header.