name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 12 * * 1'  # Weekly Monday at 12 UTC
env:
  UV_SYSTEM_PYTHON: 1
jobs:
  test-all-os:
    name: "Test: Python ${{ matrix.python }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-13
          - windows-latest
        python:
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.5.7"

      - name: Install dependencies
        run: |
          uv sync

      - name: Run tests with coverage
        run: |
          pytest --cov=src --cov-report=xml tests/

        continue-on-error: true


  typecheck:
    name: Type check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.5.24"

      - name: Install dependencies
        run: |
         uv sync 

      - name: Type check
        run: |
          mypy src

  lint:
    name: Code Quality Checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - '3.10'
          - '3.11'
          - '3.12'

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.5.24"

      - name: Install dependencies
        run: |
          uv sync

      - name: Check formatting with Black
        run: |
          black --check src tests

      - name: Lint with Ruff
        run: |
          ruff check src tests
          ruff format --check src tests

      - name: Flake8 checks
        run: |
          flake8 src tests